<h2>
  <%= @task.title %>
</h2>
<p><%= @task.details %></p>

<div style="display: flex; align-items: center">
  <% if @task.completed? %>
    <input style="margin: 0; padding: 5px; width: 20px;" type="checkbox" checked>
  <% else %>
    <input style="margin: 0; padding: 5px; width: 20px;" type="checkbox">
  <% end %>
  <p>This task is completed</p>
</div>

<%= link_to "Delete this task",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<p> </p>
<%= link_to "Edit this task", task_edit_path(@task) %>
<p> </p>
<%= link_to "List all tasks", tasks_path %>
